[submodule "pack/submodules/start/peaksea"]
	path = pack/submodules/start/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "pack/submodules/start/nerdtree"]
	path = pack/submodules/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/submodules/start/javascript"]
	path = pack/submodules/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
