[submodule "pack/submodules/start/peaksea"]
	path = pack/submodules/start/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "pack/submodules/start/nerdtree"]
	path = pack/submodules/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/submodules/start/surround"]
	path = pack/submodules/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/submodules/start/ultisnips"]
	path = pack/submodules/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/submodules/start/snippets"]
	path = pack/submodules/start/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/submodules/start/YouCompleteMe"]
	path = pack/submodules/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/submodules/start/fzf"]
	path = pack/submodules/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/submodules/start/Colorizer"]
	path = pack/submodules/start/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "pack/submodules/start/lightline"]
	path = pack/submodules/opt/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/submodules/start/delimitMate"]
	path = pack/submodules/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/submodules/start/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/submodules/start/neomake"]
	path = pack/submodules/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule "pack/submodules/start/javascript"]
	path = pack/submodules/opt/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/submodules/start/jsx"]
	path = pack/submodules/opt/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/submodules/start/fugitive"]
	path = pack/submodules/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/submodules/start/BufOnly"]
	path = pack/submodules/start/BufOnly
	url = https://github.com/vim-scripts/BufOnly.vim.git
